{% extends "template.html" %}
{% block conteudo %}
<form action="/criar" method="post">
    <fieldset>        
        <div class="form-group">
            <label for="data">Data</label>
            <input type="date" id="data" name="data" class="form-control">
        </div>
        <div class="form-group">
            <label for="doc">Doc</label>
            <input type="text" id="doc" name="doc" class="form-control">
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="text" id="valor" name="valor" class="form-control">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo</label>
            <br>
            <select id=tipo name="tipo" class="form-control">
                <option value="Credito">Credito</option>
                <option value="Debito">Debito</option>
            </select>
            <!-- <input type="" id="tipo" name="tipo" class="form-control"> -->
        </div>
        <div>
            <p></p>

            <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
            <button type="reset" class="btn btn-primary btn-apagar">Apagar</button>
        </div>
    </fieldset>
</form>

<p></p>

<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>Id.</th>
            <th>Data</th>
            <th>Doc.</th>
            <th>Valor</th>
            <th>Tipo</th>
            <th>Taxa</th>
            <th>Desconto</th>
            <th>Valor Liquido</th>
        </tr>
    </thead>
    <tbody>
        {% for lancamento in lancamentos %}
        <tr>
            <td>{{lancamento.id}}</td>
            <td>{{lancamento.data}}</td>
            <td>{{lancamento.doc}}</td>
            <td>{{lancamento.valor}}</td>
            <td>{{lancamento.tipo}}</td>
            <td>{{ taxa }}</td>
            <td>{{ (lancamento.valor*taxa/100) }}</td>
            <td>{{lancamento.valor-(lancamento.valor*taxa/100)}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}